@model PizzaPlanet.App.App_Code.ViewModels.RegisterViewModel
@{
    ViewData["Title"] = "Create an account";
}

<h1>@ViewData["Title"]</h1>
<hr />
<div class="row">
    <div  class="col-md-4">
        <form method="post">
            <div class="form-group">
                <input asp-for="FirstName" class="form-control" placeholder="@Html.DisplayNameFor(m => m.FirstName)" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input asp-for="LastName" class="form-control" placeholder="@Html.DisplayNameFor(m => m.LastName)" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input asp-for="Email" class="form-control" placeholder="@Html.DisplayNameFor(m => m.Email)" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input asp-for="PhoneNumber" class="form-control" placeholder="@Html.DisplayNameFor(m => m.PhoneNumber)" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input asp-for="Password" class="form-control" placeholder="@Html.DisplayNameFor(m => m.Password)" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input asp-for="ConfirmPassword" class="form-control" placeholder="@Html.DisplayNameFor(m => m.ConfirmPassword)" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>

            <div class="fom-group">
                <input type="submit" class="btn btn-primary" value="@ViewData["Title"]" />
            </div>

            <p>Alread have an account? Login <a asp-controller="Account" asp-action="Login">here</a>!</p>
        </form>        
    </div>
</div>